@page "/SetUpRoles"

@using Microsoft.AspNetCore.Identity;
@using Microsoft.Extensions.Configuration;

@inject RoleManager<IdentityRole> roleManager
@inject UserManager<IdentityUser> userManager
@inject IConfiguration config

<h3>Set Up Roles</h3>

<p>
    This page has now set up the roles and market the appropriate user as administrator.
</p>

@code { 
    protected override async Task OnParametersSetAsync()
    {
        await SetUpAuth();
    }


    private async Task SetUpAuth()
    {
        const string administrator = "Administrator";
        string[] roles = { administrator };

        foreach (var role in roles)
        {
            var roleExists = await roleManager.RoleExistsAsync(role);       //check role

            if (roleExists == false)
            {
                await roleManager.CreateAsync(new IdentityRole(role));
            }
        }

        var user = await userManager.FindByEmailAsync(config.GetValue<string>("AdminUser"));

        if (user != null)
        {
            await userManager.AddToRoleAsync(user, administrator);
        }
    }

}
